<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WAVE</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WAVE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>raw</string>
				<string>ad</string>
				<string>ad0</string>
				<string>dat</string>
				<string>ul</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Raw</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
				<string>aifc</string>
				<string>afc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AIFF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
				<string>AIFC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MP3</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mp3 </string>
				<string>MP3 </string>
				<string>Mp3 </string>
				<string>MPG3</string>
				<string>mpg3</string>
				<string>mp3!</string>
				<string>MP3!</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MP2</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPG2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Simple Text</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>ttro</string>
				<string>sEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>au</string>
				<string>snd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AU/SND</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ULAW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>paf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PARIS</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>paf </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ircam</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>IRCAM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IRCM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
				<string>oga</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ogg</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OggS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>spwave</string>
	<key>CFBundleIconFile</key>
	<string>spwave.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.splibs.spwave</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>spwave</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8</string>
	<key>CFBundleSignature</key>
	<string>SPWV</string>
	<key>CFBundleVersion</key>
	<string>0.8.3-1</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
